################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FestivalApplication/FestivalApplication/Properties
/FestivalApplication/FestivalApplication/obj
/FestivalApplication/FestivalApplication/bin
