################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FestivalApplication/FestivalApplication/appsettings.Developement.json
/FestivalApplication/FestivalApplication/appsettings.Development.json
